html, body {
  overflow-x: hidden;
}

body {
  text-align: center;
  position: relative;
}

/* MAIN ---------------------------------------*/

#wrap {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
}

.fullCard {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 600px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 20px;
    margin: auto;
  }

#qWrap {
  font-size: 32px;
  margin: auto;
  padding-top: 30px;
  width: 500px;
  display: flex;
}

#aWrap {
  font-size: 20px;
  text-align: right;
  padding-bottom: 20px;
}

#click {
  margin: auto;
  padding-bottom: 30px;
}

#new-quote {
  margin: auto;
  float: right;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}

@media screen and (max-width: 600px) {
  #wrap {
    width: 100%;
    height: auto;
  }
  .fullCard {
    width: 75%;
  }
  #qWrap {
    height: auto;
    width: 85%;
    font-size: 21px;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  #wrap {
    width: 100%;
    height: auto;
  }
  .fullCard {
    width: 75%;
  }
  #qWrap {
    height: auto;
    width: 85%;
    font-size: 21px;
  }
}

/*Social Icons ----------------------------------*/
.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  float: left;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

@media screen and (max-width: 600px) {
  .fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
}
}

/* SIGN-OFF --------------------------------------------*/

/*designed by & contact*/
#contact-section {
  color: black;
  text-align: center;
  min-height: 33vh;
}

.contact-links {
  height: auto;
  width: 25%;
  display: inline-block;
  padding: 20px;
}

.link-cont {
  float: left;
  width: 25%;
}

.contact-img {
  height: 75px;
  width: 75px;
}

#git-logo {
  height: 75px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .contact-links {width: 100%;}
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .contact-links {width: 100%;}
}

@media screen and (max-width: 1000px) {
  .contact-links {width: 100%;}
}